<div class="w3-col m3" *ngIf="isAuthenticated">
    <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center"><img [src]="profilePic" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
            <p><i class="fa fa-id-card fa-fw w3-text-theme"></i> {{profileData.userId}}</p>
            <p [innerHTML]="userTip.icon + ' '+ userTip.salutation+profileData.fullName"></p>
            <p><i class="fa fa-home fa-fw w3-text-theme"></i> {{locationInfo}}</p>
        </div>
    </div>
    <hr>
    <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
            <h4 class="w3-center">My Subscription</h4>
            <p><i class="fa fa-barcode fa-fw w3-text-theme"></i> {{'From '+ userSubscription['startFrom'] +' - '+userSubscription.expiresOn}}</p>
            <p><span>
                <i class="fa fa-database fa-fw w3-text-theme"></i> {{'Used '+ userSubscription['usedSize'] +'mb from '+userSubscription['totalSize']+'mb '}}
                </span>
                <span [ngClass]="{'w3-red' : userSubscription['remaining'] < .10}" [innerHTML]="userSubscription['remaining']"></span>
            </p>
            <p><i class="fa fa-bar-chart fa-fw w3-text-theme"></i> {{userSubscription['addOn']}}</p>
        </div>
    </div>
    <hr>
    <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
            <h4 class="w3-center">My Connection</h4>
            <div *ngFor="let thumb of thumbnails; let i = index;">
                <img class="thumbnail" [src]="thumb.thumbnail" alt="ashtra" (click)='onRequestConnection(i)'>
            </div>

        </div>
    </div>
</div>