.form-holder {
    clear: both;
}

.form-control {
    display: block;
    width: 250px;
    padding: .5rem .75rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 0px;
}

.login-container {
    width: 40%;
    float: right;
}

.img-panel {
    width: 31%;
    float: left;
}

.info-panel {
    float: left;
    padding: 20px;
}

.form-holder {
    width: 50%;
    float: left;
}

.panel-footer {
    background: #ddd;
    height: 40px;
}

.panel-footer div {
    width: 33%;
    float: left;
}

.input-control {
    box-shadow: none;
    display: inline;
}