<div class="col-xs-12 col-sm-6 col-md-7">

</div>

<div class="col-xs-12 col-sm-6 col-md-5">
    <div class="panel-heading">
        <img src=" ../../../assets/media/img/login/blank-user.jpg" alt="Avatar" class="img-thumbnail">
    </div>
    <div class="panel-body">
        <form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div style="clear:both" *ngIf="mode === 'fpw'">
                <div class="form-holder">
                    <label>Once you click submit, you will get a mail on your registered e-mail Id.</label>
                </div>
            </div>

            <div class="form-holder" style="clear:both">
                <div class="form-group" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" placeholder="default@abc.com" />
                </div>
            </div>
            <div class="form-holder">
                <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                    <p *ngIf="email.errors.required">Email is required</p>
                    <p *ngIf="email.errors.pattern">Need Valid Email format like default@abc.com</p>
                </div>
            </div>

            <div style="clear:both" *ngIf="mode === 'login' || mode === 'register'">
                <div class="form-holder">
                    <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched),'has-success': password.valid && (password.dirty || password.touched)}">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="15" #password="ngModel" placeholder="must have Upper/Lower/Spl/Number and 8 char long"
                        />
                    </div>
                </div>
                <div class="form-holder">
                    <div class="form-control-feedback" *ngIf="password.invalid && (password.dirty || password.touched) ">
                        <p *ngIf="password.errors.required">Password is required</p>
                        <p *ngIf="password.errors.pattern">Must have UpperCase, LowerCase, Number, SpecialChar and min 8 Chars</p>
                    </div>
                </div>
            </div>

            <div style="clear:both" *ngIf="mode === 'register'">
                <div class="form-holder">
                    <div class="form-group" [ngClass]="{'has-danger': cpassword.invalid && (cpassword.dirty || cpassword.touched),'has-success': cpassword.valid && (cpassword.dirty || cpassword.touched)}">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="cpassword" [(ngModel)]="model.cpassword" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="15" #cpassword="ngModel" placeholder="must have Upper/Lower/Spl/Number and 8 char long"
                        />
                    </div>
                    {{password}} || {{cpassword}}

                </div>
                <div class="form-holder">
                    <div class="form-control-feedback" *ngIf="cpassword !== password && (cpassword.dirty)  ">
                        <p>Confrim Password is required</p>
                    </div>
                </div>
            </div>
            <div class="form-holder" style="clear:both">
                <div class="form-group">
                    <button type="submit" [ngClass]="{'btn btn-primary': loginForm.invalid,'btn btn-success': loginForm.valid}" [disabled]="loginForm.invalid">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div *ngIf="mode === 'login'">
            <span>Forgot <a (click)="changeMode('fpw')">password?</a></span>
        </div>
        <div *ngIf="mode !== 'register'">
            <span><a (click)="changeMode('register')">New User?</a></span>
        </div>

        <div *ngIf="mode !== 'login'">
            <span>Back to <a (click)="changeMode('login')">login page</a></span>
        </div>
    </div>
</div>




<div class="container login-container">
    <div class="panel panel-primary">
        <div class="panel-heading"><img src="img/custombanner_lrnmodules.gif" id="Banner" alt="Logo"></div>
        <div class="panel-body">
            <div class="">
                <div class="img-panel">
                    <img src=" ../../../assets/media/img/login/blank-user.jpg" alt="Avatar" class="img-thumbnail" />
                </div>
                <div class="info-panel">
                    <div *ngIf="mode === 'login'">
                        <p>Enter your Registered E-mail</p>
                        <p>Enter your Password</p>
                    </div>
                    <div *ngIf="mode === 'fyp'">
                        <p>Enter your Registered E-mail</p>
                    </div>
                    <div *ngIf="mode === 'register'">
                        <p>Enter your valid e-mail to Register</p>
                        <p>Password must : </p>
                        <ul>
                            <li>Atleaset 8 Characters long</li>
                            <li>Contain Upper/Lower Case</li>
                            <li>Contain Number</li>
                            <li>Contain Special Character</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login" *ngIf="mode === 'login'">
                <form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <div class="form-holder">
                        <div class="form-group" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}">
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" placeholder="Enter your registered email" />
                        </div>
                    </div>
                    <div class="form-holder">
                        <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched),'has-success': password.valid && (password.dirty || password.touched)}">
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="15" #password="ngModel" placeholder="Enter Valid Password"
                            />
                        </div>
                    </div>

                    <div class="form-holder" style="clear:both">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="forgotPassword" *ngIf="mode === 'fyp'">
                <form novalidate (ngSubmit)="onSubmit()" #FYPForm="ngForm">
                    <div class="form-holder">
                        <div class="form-group" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}">
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" placeholder="Enter your registered email" />
                        </div>
                    </div>

                    <div class="form-holder" style="clear:both">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" [disabled]="FYPForm.invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="login" *ngIf="mode === 'register'">
                <form novalidate (ngSubmit)="onSubmit()" #registerForm="ngForm">
                    <div class="form-holder">
                        <div class="form-group" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}">
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" placeholder="Enter your registered email" />
                        </div>
                    </div>
                    <div class="form-holder">
                        <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched),'has-success': password.valid && (password.dirty || password.touched)}">
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="15" #password="ngModel" placeholder="Enter Valid Password"
                            />
                        </div>
                    </div>

                    <div class="form-holder">
                        <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched),'has-success': password.valid && (password.dirty || password.touched)}">
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="15" #password="ngModel" placeholder="Confirm Your Password"
                            />
                        </div>
                    </div>

                    <div class="form-holder" style="clear:both">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="panel-footer">
            <div *ngIf="mode === 'login'">
                <span>Forgot <a (click)="changeMode('fyp')">password?</a></span>
            </div>
            <div *ngIf="mode !== 'register'">
                <span><a (click)="changeMode('register')">New User?</a></span>
            </div>

            <div *ngIf="mode !== 'login'">
                <span>Back to <a (click)="changeMode('login')">login page</a></span>
            </div>
        </div>
    </div>
</div>