<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="isDataLoaded">
    <div class="navbar-header">
        <p class="navbar-brand" [innerHTML]="this.sectionData.title[0]"></p>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="onButtonClicked()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li *ngFor="let tab of this.sectionData.tab; let i=index " [ngClass]="{'active' : tabId === i }" (click)="onTabClicked(i, tab.col1)">
                <a routerLink="{{tab.col1[0]}}" [innerHTML]="tab.col2[0]"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="panel-heading-image" [ngStyle]="{'background-image': getBgImage()}">
    <div class="panel-bar" [innerHTML]="sectionTitle"></div>
</div>