<form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="w3-container w3-padding">
        <h6 class="w3-opacity w3-center"><strong>{{title}}</strong></h6>
        <div class="w3-container w3-center">
            <img src="../../assets/img/blank-user.jpg" alt="Avatar" class="w3-border w3-padding img-thumbnail" />
        </div>

        <div class="w3-container">
            <input type="hidden" name="mode" [value]="model.mode">

            <label>Registered e-mail</label>
            <input type="email" name="email" id="email" class="w3-input w3-border" [(ngModel)]="model.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" placeholder="{{emailTip}}" [disabled]="formDisabled" />

            <div *ngIf="model.mode === 'login'">
                <label>Password</label>
                <input type="password" name="password" id="password" class="w3-input w3-border" [(ngModel)]="model.password" required #password="ngModel" minlength="8" maxlength="15" placeholder="Enter your password" [disabled]="formDisabled" />
            </div>

            <div *ngIf="model.mode === 'register'">
                <label>Register as :</label><br>
                <div class="w3-row-padding no-padding">
                    <div class="w3-half no-padding">
                        <label class="vertical-align">&nbsp;&nbsp;Doctor</label>
                        <input type="radio" id="type" name="type" class="w3-radio w3-half" [(ngModel)]="model.type" value="doc" [disabled]="formDisabled">
                    </div>
                    <div class="w3-half no-padding">
                        <label class="vertical-align">&nbsp;&nbsp;Patient</label>
                        <input type="radio" id="type" name="type" class="w3-radio w3-half w3-checked" [(ngModel)]="model.type" value="pat" [disabled]="formDisabled">
                    </div>
                </div>
            </div>

            <div *ngIf="model.mode === 'reset'">
                <label>Current Password</label>
                <input type="password" name="oldPassword" id="oldPassword" class="w3-input w3-border" [(ngModel)]="model.oldPassword" required #newPassword="ngModel" minlength="8" maxlength="15" placeholder="Enter current password" [disabled]="formDisabled" />
                <label>New Password</label>
                <input type="password" name="newPassword" id="newPassword" class="w3-input w3-border" [(ngModel)]="model.newPassword" required #newPassword="ngModel" minlength="8" maxlength="15" placeholder="Enter new password" [disabled]="formDisabled" />
                <label>Confirm Password</label>
                <input type="password" name="conPassword" id="conPassword" class="w3-input w3-border" [(ngModel)]="model.conPassword" required #newPassword="ngModel" minlength="8" maxlength="15" placeholder="Retype your password" [disabled]="formDisabled" />
            </div>

        </div>

        <div class="w3-container" [hidden]="alertTip === ''">
            <div class="w3-panel w3-red">
                <div class="alert alert-danger" role="alert" [innerHTML]="alertTip"></div>
            </div>
        </div>

        <div class="w3-container">
            <button type="submit" class="w3-button w3-block w3-theme" [disabled]="loginForm.invalid || formDisabled"><i class="fa fa-check-circle "></i> Submit</button>
        </div>

        <div class="w3-container">
            <button *ngIf="model.mode === 'login'" class="w3-button w3-theme w3-small" (click)="changeMode('fyp')"><i class="fa fa-pencil"></i> Forgot pwd?</button>
            <button *ngIf="model.mode !== 'register'" class="w3-button w3-theme w3-small" (click)="changeMode('register')"><i class="fa fa-handshake-o"></i> Register</button>
            <button *ngIf="model.mode !== 'reset' && model.mode !== 'register'" class="w3-button w3-theme w3-small" (click)="changeMode('reset')"><i class="fa fa-exchange"></i> Reset Pwd</button>
            <button *ngIf="model.mode !== 'login'" class="w3-button w3-theme w3-small" (click)="changeMode('login')"><i class="fa fa-refresh"></i> Login</button>
        </div>
    </div>
</form>