<div [hidden]="!isAuthenticated">
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <ul class="headerTab">
                <li *ngFor="let tab of tabs; let i=index ">
                    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" [ngClass]="{'active-tab' : tab.link === activeUrl }" [routerLink]="tab.link" title="{{tab.title}}"><i class="{{tab.icon}}"></i>  {{tab.title}}</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" (click)="openNav()"><i class="fa fa-bars"></i></a>
                </li>
            </ul>

        </div>
    </div>

    <!-- Navbar on small screens -->
    <div class=" w3-bar-block w3-theme-d2  w3-hide-large w3-hide-medium w3-large nav-bar" [hidden]="isNavOpen">
        <ul>
            <li *ngFor="let tab of tabs; let i=index">
                <a class="w3-bar-item w3-button w3-padding-large w3-hover-white" [routerLink]="tab.link" title="{{tab.title}}"><i class="{{tab.icon}}"></i>  {{tab.title}}</a>
            </li>
        </ul>
    </div>

    <div class="pad-top"></div>
</div>

<div id="confirmBox" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-theme">
            <div>
                <h6 *ngIf="this.modalContent['reqType'] !== 'info'"><i class="fa fa-question-circle-o"></i> Confirm</h6>
                <h6 *ngIf="this.modalContent['reqType'] === 'info'"><i class="fa fa-info-circle"></i> Information</h6>
            </div>
        </header>
        <div class="w3-container">
            <p [innerHTML]="this.modalContent['msg']"></p>
        </div>

        <footer class="w3-container w3-theme">
            <button class="w3-button  w3-small w3-right" (click)="onHideModal(true)"><i class="fa fa-check-circle"></i> Ok</button>
            <button *ngIf="this.modalContent['reqType'] !== 'info'" class="w3-button  w3-small w3-right" style="margin-right:10px;" (click)="onHideModal(false)"><i class="fa fa-window-close "></i> Cancel</button>
        </footer>
    </div>
</div>