<div class=" w3-card-4 w3-quarter">
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button quarter-stretch" *ngFor="let tab of tabs; let i=index" [ngClass]="{'active' : tabId === i }" (click)="onTabClicked(i)" [innerHTML]="tab"></button>
    </div>

    <form class="w3-container" novalidate (ngSubmit)="onSubmit()" #profileForm="ngForm">
        <input type="hidden" name="mode" [value]="model.mode">
        <div class="w3-container" [hidden]="tabs[tabId] !=='Profile'">

            <div class="w3-container w3-center">
                <img src="../../assets/img/blank-user.jpg" alt="Avatar" class="w3-border w3-padding img-thumbnail" />
            </div>

            <label>Full Name <span class="required">*</span></label>
            <input type="text" name="fullName" id="fullName" class="w3-input w3-border" [(ngModel)]="model.fullName" required #fullName="ngModel" placeholder="Enter your Full Name" (keydown)="enableform($event)" />

            <label>Contact Number</label>
            <input type="text" name="mobile" id="mobile" class="w3-input w3-border" [(ngModel)]="model.mobile" #mobile="ngModel" placeholder="Enter your Full Name" (keydown)="enableform($event)" />
        </div>

        <div class="w3-container" [hidden]="tabs[tabId] !=='Clinic'">
            <div class="w3-right">
                <div class="w3-bar w3-border w3-round">
                    <a *ngFor="let clinic of  [0,1,2,3,4,5]; let i=index" role="presentation" class="w3-button" [ngClass]="{'active' : clinicId === i }" (click)="onClinicClicked(i)">{{i+1}}</a>
                </div>

            </div>
            <div class="w3-container">
                <label>Clinic Name <span class="required">*</span></label>
                <input type="text" name="clinic" id="clinic" class="w3-input w3-border" [(ngModel)]="model.clinic[clinicId]" required #clinic="ngModel" placeholder="Enter your Full Name" (keydown)="enableform($event)" />

                <label>Clinic Address <span class="required">*</span></label>
                <textarea rows="4" cols="50" type="text" name="address" id="address" class="w3-input w3-border" [(ngModel)]="model.address[clinicId]" required #address="ngModel" placeholder="Enter clinic address" (keydown)="enableform($event)"></textarea>

                <div class="w3-row no-padding">
                    <div class="w3-twothird">
                        <label>City <span class="required">*</span></label>
                        <input type="text" name="city" id="city" class="w3-input w3-border" [(ngModel)]="model.city[clinicId]" required #city="ngModel" placeholder="Enter city" (keydown)="enableform($event)" />
                    </div>
                    <div class="w3-third">
                        <label>Pin <span class="required">*</span></label>
                        <input type="text" name="pin" id="pin" class="w3-input w3-border" [(ngModel)]="model.pin[clinicId]" required #pin="ngModel" placeholder="Enter pin" (keydown)="enableform($event)" />
                    </div>
                </div>

                <label>State <span class="required">*</span></label>
                <input type="text" name="state" id="state" class="w3-input w3-border" [(ngModel)]="model.state[clinicId]" required #state="ngModel" placeholder="Enter your State" (keydown)="enableform($event)" />

                <label>Contact Number <span class="required">*</span></label>
                <input type="text" name="contact" id="contact" class="w3-input w3-border" [(ngModel)]="model.contact[clinicId]" required #contact="ngModel" placeholder="Enter Clinic Number" (keydown)="enableform($event)" />

                <div class="w3-row no-padding">
                    <div class="w3-half">
                        <label>Time From <span class="required">*</span></label>
                        <input type="text" name="openTime" id="openTime" class="w3-input w3-border" [(ngModel)]="model.openTime[clinicId]" required #openTime="ngModel" maxlength="2" pattern="[0-9]{2}" placeholder="Enter Open Time" (keydown)="enableform($event)" />
                    </div>
                    <div class="w3-half">
                        <label>Time To <span class="required">*</span></label>
                        <input type="text" name="endTime" id="endTime" class="w3-input w3-border" [(ngModel)]="model.endTime[clinicId]" required #endTime="ngModel" maxlength="2" pattern="[0-9]{2}" placeholder="Enter Close Time" (keydown)="enableform($event)" />
                    </div>
                </div>

                <label>Available On <span class="required">*</span></label>

                <div class="w3-row no-padding">
                    <div class="w3-third" *ngFor="let day of openDay">
                        <input type="checkbox" name="day" id="day" class="w3-check" [value]="day.label" [checked]='day.checked' (change)="setCheckedItems('day', 'openDay')" /> <label [innerHTML]="day.label"></label>
                    </div>
                </div>

            </div>
        </div>

        <div class="w3-container" [hidden]="tabs[tabId] !=='Specialization'">
            <label>Qualification <span class="required">*</span></label>
            <textarea rows="4" cols="50" type="text" name="qualification" id="qualification" class="w3-input w3-border" [(ngModel)]="model.qualification" required #qualification="ngModel" placeholder="Enter Your Qualification" (keydown)="enableform($event)"></textarea>
            <hr>
            <label>Specialization </label>
            <div class="w3-row no-padding">
                <div class="w3-half" *ngFor="let specialization of specialization">
                    <input type="checkbox" name="specialization" id="specialization" class="w3-check" [value]="specialization.label" [checked]='specialization.checked' (change)="setCheckedItems('specialization', 'specialization')" /> <label [innerHTML]="specialization.label"></label>
                </div>
            </div>
            <hr>
            <label>Other Specialization </label>
            <input type="text" name="specializationOther" id="specializationOther" class="w3-input w3-border" [(ngModel)]="model.specializationOther" #specializationOther="ngModel" placeholder="Other specialization, if any" (keydown)="enableform($event)" />

            <div class="w3-panel w3-red">
                <div class="alert alert-danger" role="alert" [innerHTML]="alertTip"></div>
            </div>
        </div>

        <div class="w3-container">

            <button type="button" *ngIf="tabId !== 2" class="w3-button w3-block	w3-black w3-hover-gray" (click)="onNext()">Next</button>
            <button type="submit" *ngIf="tabId === 2" class="w3-button w3-block	w3-black w3-hover-gray" [disabled]="profileForm.invalid || formDisabled">Submit</button>
        </div>

    </form>
</div>