.form-group {
    margin-bottom: 0px;
}

.auto-height {
    height: 80px;
}

.chk-box-option {
    width: 33%;
    float: left;
}

.chk-box-option-full {
    width: 100%;
    float: left;
    padding: 2px;
}

.time-length {
    width: 50px;
    float: left;
}

.date-length {
    width: 150px;
    float: left;
}

.pin-length {
    width: 30%;
    float: left;
}

.city-length {
    width: 50%;
    float: left;
}

.pagination {
    margin: 0;
}

.table td:first-child {
    width: 28%;
}