<div class="container">
    <div class="card card-container">
        <div class="tabs">
            <ul class="nav nav-tabs  pull-right">
                <li role="presentation" [ngClass]="{'active' : tabId === 0 }" (click)="onTabClicked(0)"><a>Profile</a></li>
                <li role="presentation" [ngClass]="{'active' : tabId === 1 }" (click)="onTabClicked(1)"><a>General</a></li>
                <li role="presentation" [ngClass]="{'active' : tabId === 2 }" (click)="onTabClicked(2)"><a>Medical</a></li>
            </ul>
        </div>
        <form novalidate (ngSubmit)="onSubmit()" #profileForm="ngForm">

            <table class="table table-striped" *ngIf="tabId === 0">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <app-image [imgSpec]='imgSpec' (imageClicked)='onImageClicked($event)'></app-image>
                        </td>
                    </tr>
                    <tr>
                        <td>Full Name <span class="required">*</span></td>
                        <td>
                            <div class="form-group" [ngClass]="{'has-danger': fullName.invalid && (fullName.dirty || fullName.touched), 'has-success': fullName.valid && (fullName.dirty || fullName.touched)}">
                                <input type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName" required #fullName="ngModel" pattern=".{10,}" placeholder="Enter your Full Name" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Mobile<br>Number</td>
                        <td>
                            <div class="form-group" [ngClass]="{'has-danger': mobile.invalid && (mobile.dirty || mobile.touched), 'has-success': mobile.valid && (mobile.dirty || mobile.touched)}">
                                <input type="number" class="form-control" name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" pattern=".{10,10}" maxlength="10" placeholder="Enter your Mobile number" />
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div *ngIf="mode === 'patient'">
                <table class="table table-striped" *ngIf="tabId === 1">
                    <tbody>
                        <tr>
                            <td>Salutation</td>
                            <td>
                                <div>
                                    <span class="chk-box-option"><input type="radio" class="input-control" name="salutation" [(ngModel)]="model.salutation" value="mr" /> Mr.</span>
                                    <span class="chk-box-option"><input type="radio" class="input-control" name="salutation" [(ngModel)]="model.salutation" value="ms" /> Ms.</span>
                                    <span class="chk-box-option"><input type="radio" class="input-control" name="salutation" [(ngModel)]="model.salutation" value="no" /> None</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <div>
                                    <span class="chk-box-option"><input type="radio" class="input-control" name="gender" [(ngModel)]="model.gender" value="m" /> Male</span>
                                    <span class="chk-box-option"><input type="radio" class="input-control" name="gender" [(ngModel)]="model.gender" value="f" /> Female</span>
                                    <span class="chk-box-option"><input type="radio" class="input-control" name="gender" [(ngModel)]="model.gender" value="o" /> Other</span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Address</td>
                            <td>
                                <div class="form-group">
                                    <textarea rows="4" cols="50" class="form-control" name="address1" [(ngModel)]="model.address1" required #address2="ngModel" pattern=".{10,}" placeholder="Enter your Address"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pin <span class="required">*</span></td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': pin.invalid && (pin.dirty || pin.touched), 'has-success': pin.valid && (pin.dirty || pin.touched)}">
                                    <input type="number" class="form-control" name="pin" [(ngModel)]="model.pin" required #pin="ngModel" pattern=".{6,6}" maxlength="6" placeholder="Enter valid Pin Number" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>State <span class="required">*</span></td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': state.invalid && (state.dirty || state.touched), 'has-success': state.valid && (state.dirty || state.touched)}">
                                    <input type="text" class="form-control" name="state" [(ngModel)]="model.state" required pattern=".{3,}" #state="ngModel" placeholder="Enter your State name" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Emergency<br>Person</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="sosPerson" [(ngModel)]="model.sosPerson" #sosPerson="ngModel" placeholder="Contact Person, in case of emergency" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Emergency<br>Number</td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': sosMobile.invalid && (sosMobile.dirty || sosMobile.touched), 'has-success': sosMobile.valid && (sosMobile.dirty || sosMobile.touched)}">
                                    <input type="number" class="form-control" name="sosMobile" [(ngModel)]="model.sosMobile" #sosMobile="ngModel" required pattern=".{10,10}" maxlength="10" placeholder="Contact Number, in case of emergency" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped" *ngIf="tabId === 2">
                    <tbody>
                        <tr>
                            <td>D.O.B.</td>
                            <td>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="dob" [(ngModel)]="model.dob" #dob="ngModel" placeholder="Contact Number, in case of emergency" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Height<br>in cms</td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': height.invalid && (height.dirty || height.touched), 'has-success': height.valid && (height.dirty || height.touched)}">
                                    <input type="number" class="form-control" name="height" [(ngModel)]="model.height" #height="ngModel" pattern=".{3,3}" maxlength="3" placeholder="Height in CMs" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Weight<br>in Kgs</td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': weight.invalid && (weight.dirty || weight.touched), 'has-success': weight.valid && (weight.dirty || weight.touched)}">
                                    <input type="number" class="form-control" name="weight" [(ngModel)]="model.weight" #weight="ngModel" pattern=".{2,3}" maxlength="3" placeholder="Weight in KGs" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>History<br>of</td>
                            <td>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.hbp" value="hbp" /> HBP</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.lbp" value="lbp" /> LBP</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.dia" value="dia" /> Diabetic</span><br>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.car" value="car" /> Heart</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.hep" value="hep" /> Liver</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.nep" value="nep" /> Kidney</span><br>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.neu" value="neu" /> Brain</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.psy" value="psy" /> Psycho</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="history" [(ngModel)]="model.lun" value="lun" /> Lungs</span><br>
                                <input type="text" class="form-control" name="history" [(ngModel)]="model.otherHistory" placeholder="Other, if any." />
                            </td>
                        </tr>
                        <tr>
                            <td>Allergic</td>
                            <td>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.hbp" value="dr" /> Smoke</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.lbp" value="dr" /> Pollen</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.dia" value="dr" /> Diabetic</span><br>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.cardio" value="dr" /> Heart</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.heptic" value="dr" /> Liver</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.nephro" value="dr" /> Kidney</span><br>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.brain" value="dr" /> Brain</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.psycho" value="dr" /> Psycho</span>
                                <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.lung" value="dr" /> Lungs</span><br>
                                <input type="text" class="form-control" name="history" [(ngModel)]="model.otherAllery" placeholder="Other, if any." />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="mode === 'doctor'">
                <table class="table table-striped" *ngIf="tabId === 1">
                    <tbody *ngFor="let clinic of clinics; let i=index ">
                        <tr>
                            <td>Address <span class="required">*</span></td>
                            <td>
                                <div class="form-group">
                                    <textarea rows="4" cols="50" required class="form-control" name="address1" [(ngModel)]="model.address1" required #address2="ngModel" pattern=".{10,}" placeholder="Enter your Address"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pin <span class="required">*</span></td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': pin.invalid && (pin.dirty || pin.touched), 'has-success': pin.valid && (pin.dirty || pin.touched)}">
                                    <input type="number" class="form-control" name="pin" [(ngModel)]="model.pin" required #pin="ngModel" pattern=".{6,6}" maxlength="6" placeholder="Enter valid Pin Number" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>State <span class="required">*</span></td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': state.invalid && (state.dirty || state.touched), 'has-success': state.valid && (state.dirty || state.touched)}">
                                    <input type="text" class="form-control" name="state" [(ngModel)]="model.state" required pattern=".{3,}" #state="ngModel" placeholder="Enter your State name" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': sosMobile.invalid && (sosMobile.dirty || sosMobile.touched), 'has-success': sosMobile.valid && (sosMobile.dirty || sosMobile.touched)}">
                                    <input type="number" class="form-control" name="sosMobile" [(ngModel)]="model.sosMobile" #sosMobile="ngModel" required pattern=".{10,10}" maxlength="10" placeholder="Contact Number, in case of emergency" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Timings</td>
                            <td>
                                <div class="form-group" [ngClass]="{'has-danger': sosMobile.invalid && (sosMobile.dirty || sosMobile.touched), 'has-success': sosMobile.valid && (sosMobile.dirty || sosMobile.touched)}">
                                    <input type="number" class="form-control" name="sosMobile" [(ngModel)]="model.sosMobile" #sosMobile="ngModel" required pattern=".{10,10}" maxlength="10" placeholder="Contact Number, in case of emergency" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Days</td>
                            <td>
                                <div>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.hbp" value="dr" /> Sun</span>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.lbp" value="dr" /> Mon</span>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.dia" value="dr" /> Tue</span><br>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.cardio" value="dr" /> Wed</span>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.heptic" value="dr" /> Thu</span>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.nephro" value="dr" /> Fri</span><br>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.brain" value="dr" /> Sat</span>
                                    <span class="chk-box-option"><input type="checkbox" class="input-control" name="allergy" [(ngModel)]="model.brain" value="dr" /> Holiday</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped" *ngIf="tabId === 2">
                    <tbody>
                        <tr>
                            <td>Specialization <span class="required">*</span></td>
                            <td>
                                <div>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Anesthesiologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Cardiologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Dentist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Dermatologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Endocrinologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> ENT Doctor</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Gastrologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> General Physician</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> General Surgeon</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Gynecologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Nephrologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Neurologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Oncologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Ophthalmologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Orthopedic</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Pathologist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Pediatrician</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Plastic Surgeon</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Physio Therapist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Psychiatrist</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Radiologists</span>
                                    <span class="chk-box-option-full"><input type="checkbox" class="input-control" name="specialist" [(ngModel)]="model.hbp"/> Urologist</span>
                                    <input type="text" class="form-control" name="history" [(ngModel)]="model.otherHistory" placeholder="Others" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>
        <div class="panel-footer">
            <div *ngIf="profileForm.invalid && tabId === 2">
                <div *ngIf="submissionSuccess" class="alert alert-success" role="alert">Your profile saved</div>
                <div *ngIf="profileForm.invalid" class="alert alert-danger" role="alert" [innerHTML]="alertTip"></div>
            </div>

            <div class="form-group">
                <button type="button" *ngIf="tabId !== 2" class="btn  btn-block btn-primary" (click)="onNext()">Next</button>
                <button type="submit" *ngIf="tabId === 2" class="btn  btn-block btn-primary" [disabled]="profileForm.invalid">Submit</button>
            </div>
        </div>
    </div>
</div>