.form-group {
    margin-bottom: 0px;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.valid-icon {
    position: relative;
    top: 150px;
    left: 50px;
}

.auto-height {
    height: 80px;
}

.chk-box-option {
    width: 33%;
    float: left;
}

.chk-box-option-full {
    width: 100%;
    float: left;
    padding: 2px;
}