/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgba(60, 61, 64, 0.99);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.panel {
    background-color: whitesmoke
}

.title-header {
    font-weight: bold;
    color: white;
    background-color: rgba(60, 61, 64, 0.99);
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.container-fluid {
    margin-top: 20px;
}

.img-thumbnail {
    width: 100%;
}