.w3-container {
    padding: 0.5em 0.5em;
}

.img-thumbnail {
    width: 25%;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px !important;
}

.vertical-align {
    vertical-align: -webkit-baseline-middle;
}

.btn-small {
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.hand-cursor {
    cursor: pointer;
}

.full-stretch {
    width: 100%;
}

.quarter-stretch {
    width: 33.33% !important;
    padding: 10px !important;
}

.required {
    color: red;
}

input:focus,
textarea:focus {
    background-color: gray;
    color: white;
}

.active-tab {
    background-color: lightgray !important;
}

.active-page {
    background-color: lightgray !important;
}