html,
body,
.main-container,
.container-fluid,
.panel {
    height: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5 em;
}

.tabs {
    padding-bottom: 50px;
}

.card-container.card {
    max-width: 450px;
    padding: 20px 20px 10px 20px;
}

.card {
    background-color: #F7F7F7;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.table-striped>tbody>tr:nth-child(2n)>td,
.table-striped>tbody>tr:nth-child(2n)>th,
.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    padding: 10;
    vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: beige;
}

.required {
    color: red;
}

input[type=date].form-control,
input[type=time].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control {
    line-height: initial;
}

.form-control {
    display: inline-block;
}

a:hover {
    background-color: yellow;
    cursor: pointer;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.card {
    margin-top: 0px;
    margin-bottom: 0px;
}