<div class="w3-container">
    <div id="plotDiv" name="plotDiv">
    </div>

    <div class="details">
        <table class="w3-table-all">
            <tr>
                <th colspan="2" class="w3-theme">Blood Pressure Levels</th>
            </tr>
            <tr>
                <th>Normal</th>
                <td>systolic: less than 120 mmHg<br> diastolic: less than 80mmHg</td>
            </tr>
            <tr>
                <th>At risk (prehypertension)</th>
                <td>systolic: 120–139 mmHg<br> diastolic: 80–89 mmHg</td>
            </tr>
            <tr>
                <th>High</th>
                <td>systolic: 140 mmHg or higher<br> diastolic: 90 mmHg or higher</td>
            </tr>
        </table>
    </div>
</div>